:root {
  --bgColor: #223344;
  --bgColor2: #090a0f;
  --accentColor: #FFF;
  --font: 'Karla', sans-serif;
  --delay: .3s;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, var(--bgColor), var(--bgColor2));
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Parallax Background */
.background-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -10;
}

.parallax-background {
  position: absolute;
  width: 110%;
  height: 110%;
  z-index: -10;
  top: -5%;
  left: -5%;
}

.object1 {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: stars linear infinite;
  animation-duration: 50s;
  background-image: radial-gradient(2px 2px at 20px 30px, #eee, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 90px 40px, #fff, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
}

.object2 {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: stars linear infinite;
  animation-duration: 100s;
  background-image: radial-gradient(1px 1px at 100px 50px, #eee, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 150px 82px, #fff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 50px 140px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 300px 300px;
}

.object3 {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: stars linear infinite;
  animation-duration: 150s;
  background-image: radial-gradient(1px 1px at 150px 150px, #ccc, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 250px 250px, #fff, rgba(0, 0, 0, 0)), radial-gradient(1px 1px at 300px 300px, #fff, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 400px 400px;
}

@keyframes stars {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(1000px);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.badge {
  height: 0.6em;
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
}

.spacing {
  padding: 0 10px;
}

#app {
  width: 100%;
  height: 100%;
}
